* {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    height: 540px;
    width: 320px;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    border: 0.5px solid grey;
    box-shadow: 2px 3px 1px #eeeeeecc navy;
    margin-top: 7%;
}
#name {
    text-align: center;
    padding: 5px 0px;
    font-size: 20px;
/*    background-color: #04044a;*/
    background-color: #b7b7b7cc;
}
span:nth-child(1) {
    color: darkorange;
}
span:nth-child(2) {
    color: white;
}
#display {
    height: 70px;
    background-color: #000031;
}
#sideContainer {
    display: flex;
    margin-top: 20px;
}
#leftSide {
/*    float: left;*/
    display: inline-block;
    width: 80%;
    right: 0;
    margin-left: 10px;
}
#rightSide {
/*    float: right;*/
/*
    display: inline-block;
    flex-direction: column;
*/
/*    top: 0;*/
    margin-left: 3px;
    width: 20%;
    margin-right: 15px;
}
button {
    margin: 10px;
    margin-top: 20px;
    border-radius: 50%;
    border-width: 0px;
    width: 50px;
    height: 50px;
}
button:nth-child(13) {
    background-color: white;
}
button:hover {
    background-color: #b7b7b7cc;
    cursor: pointer;
}