* {
    margin: 0;
    padding: 0; 
}
.container {
    margin: auto;
    height: 540px;
    width: 320px;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    border: 0.5px solid grey;
    box-shadow: 2px 3px 1px #eeeeeecc navy;
    margin-top: 4%;
}
#name {
    text-align: center;
    padding: 8.5px 0px;
    font-size: 20px;
/*    background-color: #04044a;*/
    background-color: #131132;
    border-radius: 5px 5px 0 0;
}
span:nth-child(1) {
    color: darkorange;
}
span:nth-child(2) {
    color: white;
}
#display {
    height: 100px;
    background-color: #05061a;
}
#sideContainer {
    display: flex; 
}
#leftSide {
/*    float: left;*/
    display: inline-block;
    width: 80%;
    right: 0;
    padding-left: 10px;
    background-color: #131132;
    border-radius: 0 0 0 5px;
}
#rightSide {
/*    float: right;*/
/*
    display: inline-block;
    flex-direction: column;
*/
/*    top: 0;*/
    padding-left: 3px;
    width: 20%;
    padding-right: 15px;
    background-color: #28285c;
    border-radius: 0 0 5px 0;
}
button {
    margin: 10px;
    margin-top: 20px;
    border-radius: 50%;
    border-width: 0px;
    width: 50px;
    height: 50px;
    background-color: #161638;
    color: white;
    font-weight: 500;
    outline: none;
}
button:hover {
    background-color: rgb(30, 30, 65);
    cursor: pointer;
}
#rightSide button {
    background-color: rgba(34, 34, 69, 0.8);
}
#equality {
    background-color: #ff7211;
}
@media only screen and (max-width: 600px) {
    .container {
        margin: 3%;
    }
}
